html(lang="en")
head 
    meta(name="viewport" content="width=device-width, initial-scale=1.0;")
    title Temaplte 

body 
    include includes/header.pug
    include includes/woods.pug
    include includes/bank.pug
    include includes/showcase.pug
    include includes/technology.pug
    include includes/gallery.pug
    include includes/footer.pug
    