.bank 
    .container
        section.peculiarities
            p.text After our well received Fly Air Pocket Edition we’re adding the respective touring iSUP to our Range – the Ray Air Pocket Edition! The ultra travel-friendly touring iSUP is built in a tough but light construction that allows it to be packed into a backpack half the size of a regular iSUP.
                a(class="play-video" href="#") Play video
            p.text.text--outline With a thinner deck pad and tough but flexible construction, the Ray Air Pocket Edition can be rolled and packed into a much narrower bag, making it extremely easy to store and transport. Based on our highly versatile Ray Air 11’6’’, the efficient shape is packed with volume - offering safe, stable paddling and superb glide – which makes it the perfect iSUP for everyone paddling some distance. With its minimal weight and dimensions nothing comes close the convenient handling of our Pocket Edition iSUPs!

        section.specs 
            div.text
              h2 Specs

            dl.inline-list 
              dt BOARD
              dd RAY AIR POCKET 11'6"X31"
              dt VOLUME
              dd 299 L
              dt WIDTH
              dd 31" / 78.7 CM
              dt LENGTH
              dd 11'6'' / 350.5 CM
              dt THICKNESS
              dd 6” / 15 CM
              dt WEIGHT
              dd 8.5 KG
              dt FITTINGS
              dd 2X FCS FIN SYSTEM / 2 X 4.5" CLICK FIN
              dt REC. USER WEIGHT
              dd UP TO 100 KG
              dt MASTFOOT INSERT
              dd NO
