header.header 
    .container 
        .header-cap 
            a.logo(href="/")
                include ../../assets/images/Logo.svg

            button.button Buy 
            a.phone(href="tel:+1 777 77 77") +1 777 77 77 
        .headliner 
            span.title RAY AIR POCKET
            ul.short-summary
                li.item INFLATABLE SUP BOARD
                li.item SIZES: 11'6"X31"
