.showcase 
    .container 
        .product-container 
            h2.page-title.page-title--color-blue RAY AIR POCKET
            .details 
                span.sale-price(aria-label="sale price" aria-description="sale price is 500 $")
                dl.product-summary 
                    dt CLICK FINS
                    dd Comes with two 4.5’’ Click Fins – no tools required – fit and remove in seconds
                    dt REDUCED DECK PAD
                    dd Reduced area deck pad in standing area to aid packing
                    dt BACKPACK
                    dd Compact Pocket backpack with easy entry zipper for board, paddle, pump and accessories (fits paddle and also regular pump)
                    dt TOURING SHAPE
                    dd Tried and tested shape based on our popular Ray Air 11’6’’
                    dt EXTREMELY PORTABLE
                    dd Extremely portable, the ultimate travel companion
                button.button.button--aqua buy
            .thumbnail 
                img(src=require('../../assets/images/Group 17.jpg'), alt="oars backpack and board")
