html {
    font-family: var(--global--font-secondary);
    line-height: var(--global--line-height-body);
}

body {
    color: var(--global--color-black);
    background: var(--global--color-background);
}
